:root {
  font-size: calc( 25px + (32 - 25) * ( (100vw - 320px) / ( 1200 - 320)));
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 50px;
    font-size: 1.5em;
}

#footer {
    background-color: transparent;
}

#footer .col {
  display: inline-block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;
  padding-bottom: 170px;
}

.content-wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #CC4A14;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px;
}

a {
  color: #CC4A14;
  text-decoration: none;
}

.portfolio-button {
  cursor: pointer;
  color: white;
  background-color: #CC4A14;
}

.portfolio-button i {
  margin-right: 0.33em;
}

/** nav bar **/

.nav-bar {
  width: 100%;
  position: relative;
  background-color: transparent;
  border-bottom: 1px solid #bdbdbd;
}

.nav-bar-contents {
  width: 100%;
  margin: auto;
  position: relative;
}

.nav-bar .logo {
  display: inline-block;
}

.nav-bar .title {
  display: inline-block;
  color: #CC4A14;
  font-size: 30px;
  position: relative;
  top: -3px;
}

.nav-bar .checkout {
  position: absolute;
  /*font-size: 20px;*/
  right: 42px;
  top: 5px;
  background-color: #CC4A14;
  border-radius: 5px;
  padding: 5px;
}

.nav-bar .checkout a {
  color: white;
}

.nav-bar .user-info {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.nav-bar .user-info img {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 30px;
}

.nav-bar .user-info .user img {
  width: 30px;
  border-radius: 5px;
}

/* crumbs */

.crumbs .crumb {
  display: inline-block;
  color: black;
}
.crumbs .crumb a{
  color: black !important;
}
.crumbs .divider {
  /*color: #BDBDBD;*/
  display: inline-block;
  margin-right: 5px;
}

.crumbs {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

/* Product directive */

.project-wrapper {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 15px;
}

.project-wrapper .sort-arrow {
  float: right;
  color: #666666;
  cursor: pointer;
  margin-bottom: 3px;
  margin-right: 8px;
}

.project-wrapper .sort-arrow i {
  margin-left: 0.5em;
}

.project {
  border: 1px solid #02b3e4;
  border-radius: 5px;
  padding: 5px;
  background-color: #fdfdfd;
  width: 320px;
  margin-top: 15px;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project .project-title {
  max-height: 2em;
  border-radius: 5px;
  height: 2em;
  overflow: hidden;
  background-color: #02b3e4;
  color: #CC4A14;
  padding-top: 0.3em;
}

.project .project-image img {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
}

.project .project-description {
  color: #666666;
  /*font-size: 0.9em;*/
  overflow: auto;
}

.project .portfolio-button {
  width: 100px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  display: inline-block;
}

/* project details */

.project-details .project-details-content {
  margin-top: 15px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 5px;
}

.project-details .image-left {
  float: left;
  margin-right: 25px;
  margin-left: 25px;
}

.project-details .image-left img {
  height: 300px;
  width: 300px;
  margin-top: 15px;
}

.project-details .details-right {
  float: left;
  width: 300px;
  margin-left: 25px;
}

.project-details h1 {
  color: #232323;
}

.project-details .portfolio-button {
  width: 180px;
  font-size: 24px;
  color: white;
  background-color: #F07C17;
  padding: 10px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

/* me */

.me-wrapper .me-project {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #bdbdbd;
  max-height: 100px;
}

.me-wrapper .me-project .image-left {
  float: left;
  margin-right: 15px;
}

.me-wrapper .me-project .image-left img {
  height: 80px;
  width: 80px;
}

.me-wrapper .me-project .project-details {
  float: left;
}

.me-wrapper .me-project .project-details .title {
  overflow: hidden;
  font-size: 1.5em;
}

.me-wrapper .me-project .project-details img {
  overflow: hidden;
  width: 80px;
}

.me-wrapper .me-project .project-details .description {
  font-size: 0.75em;
  color: #666666;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 15px;
}

.me-wrapper .update-portfolio-button {
  width: 100px;
  font-size: 18px;
  color: white;
  background-color: #CC4A14;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.me-wrapper .me {
  margin-top: 25px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 10px;
}

.me-wrapper .me-button {
  width: 100px;
  font-size: 18px;
  color: white;
  background-color: #CC4A14;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

/* search */
.search-bar-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.pickTool {
  border-radius: 5px;
  padding: 5px;
  background-color: #02b3e4;
  width: 320px;
  height: 4.0em;
  max-width: 100%;
  margin: 5px;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pickTool {
  border-radius: 5px;
  border: 3px inset #ccc;
  width: 60%;
  height: 3.0em;
  font: 2.0em !important;
}

/*make bigger*/
.user-info .user img {
  width: 30px;
}

.about a {
  color: black;
  font-size: 2.0em;
}

@media screen  and (max-width: 350px) {
        body{background-color: #CC4A14;}
      }


body {background-color: green;}

@media screen and (min-width: 800px) {
        body {background-color: #02b3e4;}
      }