<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col">
                            Created by zhangtreefish
                        </div>
                        <div class="col">
                            <a href="{{liurl}}"" target="_blank" ng-click="goLinkedIn(liurl)">
                              LinkedIn
                            </a>
                        </div>
                    </div>
               </footer>
            </div>
        </div>
    </div>
</div>