<div class="me-wrapper container">
  <div ng-repeat="item in projects" class="row me-project">
    <div class="span3 project-details">
      <div class="title">
        {{item.title}}
      </div>
      <img class="img-responsive" ng-src="{{item.image}}" alt="project image" />
    </div>
    <div style="clear: both"></div>
  </div>
  <div class="update-portfolio-button" ng-click="updatePortfolio()">
    Update My Portfolio
  </div>
</div>
 <!--  <div class="image-left">
    <img ng-src="{{item.image}}">
  </div> -->
        <!-- <div class="price">
      {{item.description}}
    </div>
    <div class="quantity">
      Description:
      <input type="text" ng-model="item.description" />
    </div> -->