<div class="nav-bar container">
  <div class="nav-bar-contents row">
    <div class="logo col">
      <i class="icon-briefcase"></i>
    </div>
    <div class="title col">
      Portfolio Builder
    </div>
    <div class="user-info col">
      <div class="checkout" ng-show="user.user">
        <a ng-href="#/portfolio">
          <i class="fa fa-tasks"></i>
        </a>
      </div>
      <div class="user" ng-show="user.user">
        <img ng-src="{{user.user.profile.picture}}" alt="project image"/>
      </div>
      <div class="login" ng-show="!user.user">
        <a href="/auth/facebook?redirect=%2Fportfolio">
          <img src="//i.stack.imgur.com/LKMP7.png" alt="user image">
        </a>
      </div>
    </div>
  </div>
</div>
