<div class="nav-bar container">
  <div class="nav-bar-contents row">
    <div class="logo">
      <a ng-href="#/about" id="about">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <div class="title">
      Portfolio Builder
    </div>
    <div class="user-info">
      <div class="me" ng-show="user.user">
        <img ng-src="{{user.user.profile.picture}}" alt="project image"/>
      </div>
      <div class="login" ng-show="!user.user">
        <a href="/auth/facebook?redirect=%2Fportfolio">
          <img src="//i.stack.imgur.com/LKMP7.png" alt="user image">
        </a>
      </div>
    </div>
  </div>
</div>
