<div class="project-wrapper">
  <h3>Projects utilizing {{tool}} </h3>
  <div style="clear: both"></div>
  <div class="project" ng-repeat="p in projects">
    <div class="project-details-content">
      <div class="project-image">
        <img ng-src="{{p.image}}" alt="project image"/>
      </div>
      <div class="project-title">
        <a ng-href="#/project/{{p._id}}">
          <strong>{{p.title}}</strong>
        </a>
      </div>
      <div class="project-description">
        {{p.description}}
      </div>
      <add-to-portfolio></add-to-portfolio>
      <div style="clear: both"></div>
    </div>
  </div>
</div>