<div class="project-wrapper">
  <header>Projects utilizing {{tool}} </header>
  <div style="clear: both"></div>
  <div class="project" ng-repeat="project in projects">
    <div>
      <div class="project-image">
        <img ng-src="{{project.image}}" />
      </div>
      <div class="project-title">
        <a ng-href="#/project/{{project._id}}">
          {{project.title}}
        </a>
      </div>
      <div class="project-description">
        {{project.description}}
      </div>
      <add-to-portfolio></add-to-portfolio>
      <div style="clear: both"></div>
    </div>
  </div>
</div>