<div class="project-details">
  <div class="crumbs"> Toolbelt
    <div class="crumb" ng-repeat="t in project.tools">
      <a ng-href="#/tool/{{t}}">
        {{t}}
      </a>
      <div class="divider" ng-hide="$last">
        /
      </div>
    </div>
  </div>

  <article class="project-details-content" class="container-fluid">
    <div class="row">
      <figure class="image-left">
        <img ng-src="{{project.image}}" alt="project image" />
        <figcaption>#{{project.id}}, A {{project.genre}} project, {{project.year_start}} to {{project.year_end}}</figcaption>
      </figure>
      <section class="details-right">
        <h4>{{project.title}}</h4>
        <summary>{{project.description}}</summary>
        <footer>
          <button><a href={{project.url}}>url</a></button>
          <button><a href={{project.code}}>code</a></button>
        </footer>
      </section>
      <div style="clear: both"></div>
    </div>
    <div class="row">
      <add-to-portfolio></add-to-portfolio>
      <div style="clear: both"></div>
    </div>
  </article>
</div>
