<div class="project-wrapper">
  <header>Projects utilizing {{selectedTool._id}}:</header>
  <div style="clear: both"></div>
  <div class="project" ng-repeat="project in projects">
    <div class="project-image">
      <img ng-src="{{project.image}}" />
    </div>
    <div class="project-title">
      <a ng-href="#/project/{{project._id}}">
        <em>{{project.title}}</em>
      </a>
    </div>
    <div class="project-description">
      {{project.description}}
    </div>
  </div>
  <div style="clear: both"></div>
</div>
